body {
  background: white;
}

.outer {
	position: relative;
  	margin: 0 auto;
	width: 80%;
	padding-bottom: 35px;
}
canvas {
  position: abolute;
  height: 100%;
  width: 100%;
}

.terminal-border-Box {
  border: 35px solid grey;
  border-image-source: url(/images/monitor.png);
  border-image-slice: 35;
  border-image-outset: 1;
  border-image-repeat: stretch;  
}

/*
Credit to Chris Coyier for this old school terminal looking trick as published on https://css-tricks.com/
*/
.terminalBackground {
  background-color: black;
  background-image: radial-gradient(
    rgba(0, 150, 0, 0.75), black 120%
  );	
}
.terminalBackground::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: repeating-linear-gradient(
      0deg,
      rgba(0,0,0,0.15),
      rgba(0,0,0,0.15) 1px,
      transparent 1px,
      transparent 2px
    );

    pointer-events: none;
  }    

/*following for start button*/
.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

button {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

}
